################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/ConsoleApp1/ConsoleApp1/bin/Debug
/ConsoleApp1/ConsoleApp1/obj
/HelloWorld/HelloWorld/obj/Release
/ConsoleApp1/.vs/ConsoleApp1/v15/sqlite3
/ConsoleApp1/.vs/ConsoleApp1/v15
/HelloWorld/HelloWorld/obj/Debug
/Lab 1/.vs/Lab 1/v15
/ConsoleApp1
/Lab 1
